# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.jpg
anomaly_*.jpg
test*.jpg
/anomaly_labels_5.png
/anomaly_labels_1_1.png
/anomaly_labels_1.png
/anomaly_labels_2_1.png
/anomaly_labels_3.png
/anomaly_labels_4.png
/anomaly_labels_2.png
